
body{
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.pLatin {
  color: #181820;

}

.well{
  width: 184px;
  display: none;
  float: right;
  margin-right:-25px;
}
